$itens-width: 450px;

.title-container {
    width: $itens-width;
    margin: 56px 0 24px 0;
    .title {
        font-weight: 900;
    }
}

.form-container {
    width: $itens-width;
}

.gender-form-control {
    padding-top: 8px;
    padding-left: 8px;
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 0.925rem;
}

input, select    {
    border: none;
    transition: none;
    background-color: #e0e0e0;
    color: #000;
}

.form-control:focus {
    background-color: #e0e0e0;
    color: #000;
    border: none;
}

.btn {
    font-weight: 600;
}

.illustration-container {
    margin-top: 56px;
    width: 400px;
}

.feedback-title {
    font-weight: 900;
}

.text-capitalize {
    text-transform: capitalize;
}